.App {
  text-align: center;

}

body{
  background-color: #2f3544;
}

.input-group {
  width: 60%;
}

.card {
  max-width: 60%;
} 


.card-title {
  position: absolute;
  padding: 20px;
  color: black;
}

.card-date {
  position: absolute;
  padding-left: 20px;
  margin-top: 60px;
  color: black;
}

.card-temp {
  position: absolute;
  padding-left: 20px;
  margin-top: 260px;
  font-size: 50px;
  color: black;
}

.card-desc {
  position: absolute;
  padding-left: 20px;
  margin-top: 320px;
  color: black;
}